* {
  box-sizing: border-box;
  line-height: 1.4;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  margin: 0;
  color: #27292a;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: Inter;
  src: url(../public/fonts/Inter-VariableFont_slnt\,wght.ttf) format(truetype);
  font-weight: 100 900;
  font-style: normal;
}